header {
    width: 100%;
    position: fixed;
    display: flex;
    background-color: $maincolor;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 5px 10%;
    z-index: 100;

    div {
        display: flex;
        align-items: center;

        a {


            img {
                width: 75px;
            }
        }
    }

    a {

        cursor: pointer;
        transition: all 0.5s;

        &:hover {
            transform: scale(1.2);
            
        }
    }

    nav {
        padding: auto;
        display: flex;
        align-items: center;

        ul {
            list-style-type: none;
            background-color: $maincolor;
            display: flex;
            text-decoration: none;
            align-items: center;
            gap: 20px;
            justify-content: space-between;
            padding: auto;

            li {
                transition: all 0.5s;
                a {

                    text-decoration: none;
                    color: black;

                    &:hover {
                        color: #FCA311 !important;
                        transform: scale(1.1);
                    }

                    
                }
                &:hover {
                    color: grey;
                    transform: scale(1.1);
                }
            }
        }

    }
    .redes{
        a{
            img{
                width: 50px;
                padding: 3px;
                margin-inline: 5px;
            }
        }
    }
}