
h1{
    text-shadow: 0 0 3px $hovercolor;
    padding: 30px 0;
   
}
.h1contacto{
    margin-top: 120px;
    margin-bottom: 100px;
    font-size: 25px;
    color: black;
}
main {
    width: 100vh;
}
.contactanos {
    text-decoration: none;

    .contactanos h2 {
        color: black;
    }

}

#accordionExample {
    background-color: white;

    .accordion-item {
        h2 {
            --bs-accordion-btn-focus-box-shadow:none;
            
            button {
                background-color: $hovercolor;
                border-radius: 0px;
                
                
            }
        }

        .accordion-collapse {
            div {
                border-radius: 5px;
            }
        }
    }
}
 
#footer {
    position: relative;
    bottom: 0;
}

.btn{
    background-color: $hovercolor;
    border: none;
    box-shadow: 2px 2px #bcbcbc;
}
