@media (max-width:576px) {

    /*********inicioINDEX*********/
    .intro {
        margin-inline: 2rem;
        padding-bottom: 48px;
    }

    .padre__gpc {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;

        .gpc {
            width: 90%;
        }
    }



    .videosyt {
        flex-direction: column;

        .videoyt {
            iframe {
                width: 400px;
                height: 240px;
                padding: 5px;
            }
        }



    }

    .contact {
        padding: 40px 40px;

        a {
            font-size: 13px;

        }
    }


}