*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
    text-decoration: none;
    color: black;
}


// text-decoration: none;
// color: black;
// estas dos lineas las tuve que poner aca porque el nav responsive no me tomaba el codigo y no le podia sacar el decorado al texto ni con id ni con !important