@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}
/*------------------------NAV-----------------------------*/


.header{
    
    display: flex;
    background-color: #D6D6D4 ;
    align-items: center;
    justify-content: space-between;
    height: 85px;
    padding: 5px 10%;
    

}


.header div img {
    width: 75px;
}

.header .logo{
    
    
    cursor: pointer;
    transition: all 0.5s;
}

.header .logo:hover{
    transform: scale(1.2);
}

.logo__titulo{

    display: flex;
    align-items: center;
}
.navbar {
    
    padding: auto;
    display: flex;
    
   align-items: center;
   

}



.menu {

    list-style-type: none;
    background-color:#D6D6D4;
    display: flex;
    text-decoration: none;
    align-items:center;
    gap: 20px;
    justify-content: space-between;
    padding: auto;
    
  
}
  
.logo__face,.logo__insta,.logo__in,.logo__twitter{
    width: 15px;
    padding: 3px;
    margin-inline: 5px;
    
}

/****************FOTO HERO********************/
.sensor{
    position: relative;
    height: 300px;
    width: 100vw;
    overflow: hidden;
    background:url(../../camara2.jpg) no-repeat center;
    background-size:cover;
    margin-top: 0%;

}

/*----------------------------AJUSTE DEL TEXTO/LINK--------------------------*/
.menu_index a, 
.menu_galeria a,
.menu_producciones a,
.menu_cursos a,
.menu_contacto a{
    text-decoration: none;
    color: black;
      
}

/*---------BATIRLA CUANDO PASA EL MOUSE-------------*/
.menu_index a:hover, 
.menu_galeria a:hover,
.menu_producciones a:hover,
.menu_cursos a:hover,
.menu_contacto a:hover{
    
    color: grey;
    
}
.menu_index:hover, 
.menu_galeria:hover,
.menu_producciones:hover,
.menu_cursos:hover,
.menu_contacto:hover{
    transform: scale(1.1);
   
}
    


    

body{
    background-color: #cdf7f6;

}



.titulo__principal{
  
   text-align: center;
    left: 50%;
    

}
/*--------------------quienes somos----------------------*/

.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-inline: 10rem;
    padding-bottom: 6rem;
    padding-top: 3rem;
} 

.intro__titulo{
 margin-left: 10rem;
 margin-inline-start: 40rem;
    
}

.intro__texto{
    width: 600px;
    margin-inline-end: 20rem;
   
}


/*----------------------la navigation------------------------------*/
.padre__gpc{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.imgn{
    padding: 5%;
    width: 100% ;
    border-radius: 10px;
    
}



.gpc{
    display: inline ;
    border-radius: 10px;
  background-color: #7de0ae;
  width: 30%;
  margin: 20px;
  padding: 20px;
  text-align: center;
}

.titulos{
    font-size: 25px;
    
    
}

/*----------te puede interesar----------*/
.tpi{
    text-align: center;
    padding: 3rem;
}
.videosyt{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
 }
 .videoyt iframe{
    width: 500px;
    height: 315px;
    padding: 5px;
    
 }
 .contact{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10rem;
 }


 
 /*----------footer-----------*/
 #footer {
    width: 100%;
    padding: 1rem;   
    background-color: #D6D6D4;
    position:relative;

    

     }

footer p{
    background-color: #D6D6D4;
}


 /******************************************GALERIA*****************************************/




.intro_galeria{

display: flex;
flex-direction: column;
}

.intro_galeria h1 {
    text-align: center;
    margin-top: 20px;
}

.intro_galeria p{
    
    text-align: center;
    margin-top: 15px;
    margin-inline: 400px;
}
 
 .galleryimg {
    width: 100%;
    
 }
 
 .gallery{
    display: flex;
    padding: 5px;
    flex-wrap: wrap;
    

 }

 .column{
    flex: 25%;
    padding: 5px;
    
 }
 .column img{
    margin-top: 5px;
 }

 /*******************CURSOS**********************/

 .cursos {
    display: grid;
    
    
    grid-template-rows: repeat(3,350px);

    grid-template-areas: 
    "foto"
    "video"
    "audio";
 }

 .card__cursos1 {
    grid-area: foto;
 }

 .card__cursos2 {
    grid-area: video;
 }

 .card__cursos3 {
    grid-area: audio;
 }

.card__cursos1, 
.card__cursos2,
.card__cursos3{

    border: 1px solid rgba(94, 80, 80, 0.514);
   
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "...........  titulo  video"
    "descripcion  pasos   video"
    "descripcion  pasos   video"
    ;
}
.card__cursos1:hover, 
.card__cursos2:hover,
.card__cursos3:hover{
    background-color: grey;
    border-radius: 40px;
    transition: all 1.5s;
}

.card__title{
    grid-area: titulo;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.card__paragraph{
  grid-area: descripcion;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.card__steps{
    grid-area: pasos;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.card__video{
    grid-area: video;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

/************************PRODUCCIONES************************/
.pa-title {
    text-align: center;
}

.producciones{
    
    display: flex;
    flex-direction: column;
   
}

.producciones__container{
    display: grid;
    
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "item1 item2 item3";
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;

}

.producciones__item1{
    
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: item1;
    
}
.producciones__item2{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: item2;
}
.producciones__item3{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: item3;
}

.producciones__item1 img,
.producciones__item2 img,
.producciones__item3 img{
    border-radius: 7px;
}

.producciones h3{
    text-align: center;
    margin: 30px;
}
/************************CONTACTO************************/

/*index*/
.contactanos{
    text-decoration: none;

}

.contactanos h2 {
    color: black;
}


.accordion-button{
    background-color: #D6D6D4;
    border-radius: 5px;
}

.accordion-body{
    border-radius: 5px;
}


#accordionExample{
    background-color: white;
}
/**********NAV RESPONSIVE****************/
.nav-responsive{
    background-color:#D6D6D4;
    width: 100%;
    height: 80px;
    
}

.titulo-responsive{
   
    height: 80px;
    display: inline-block;
    align-items: center;
    justify-content: space-evenly;
}

.titulo-responsive a img{
    position: relative;
   margin-bottom: px;
}

.titulo-responsive h2{
    
    position: absolute;
    margin-left: 90px ;
    margin-top: 25px;
    
}
.ul-responsive {
    list-style: none;
    float: right;
    
    text-decoration: none;
    
}

.li-responsive a {
    text-decoration: none;
    list-style: none;
    font-size: 18px;
    padding: 7px 13px;
}

.enlace{
    
    position: absolute;
    padding: 20px 50px;
}

.logo-responsive{
    height: 40px;
}

.li-responsive{
    text-decoration: none;
    list-style: none;
    display:inline-block;
    line-height: 80px;
    margin: 0 5px;
}

/*
li a.active,
li.li-responsive a:hover{
background-color:grey;
transition: .5s;
}
*/

.checkbtn{
    font-size: 30px;
    color: #000;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

@media screen and (max-width: 952px){
    /*********inicioINDEX*********/
    .li-responsive a{
        font-size: 16px;
    }
}

@media screen and (max-width: 1306px){
    /*********inicioINDEX*********/
    .redes a img{
        width: 50px;
    }
    .logo__titulo h2{
        font-size: 18px;
    }

    .header{
        padding: 20px;
        justify-content: space-around;
        
    }
    #br1, #br2{
        display: none;
    }

    .iframe-video{
        width: 350;
    }

    .videoyt iframe{
        width: 300px;
        height: 180px;
        padding: 5px;
        
     }
}

@media screen and (max-width: 992px){
    /*********inicioINDEX*********/
    
    .header{
        display: none;
    }

    .checkbtn{
        display: block;
    }
    .ul-responsive{
        position: fixed;
        width: 100%;
        height: 100vh;
        background:#7e7a7ad3;
        top: 80px;
        right: 100%;
        text-align: center;
        transition: all 0.5s;
        z-index: 100;
    }
    .li-responsive{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    .li-responsive a{
        font-size: 20px;

    }

    /* .li-responsive a:hover,.li-responsive a.active{
        background: grey;
        color: red;
    }
     */
    #check:checked ~ .ul-responsive{
        right: 0;
    }
}

@media screen and (min-width:992px) {
    /*********inicioINDEX*********/
    .nav-responsive{
        display: none;
    }
}

@media screen and (max-width:768px) {
    /*********inicioINDEX*********/
    .intro{
        margin-inline: 4rem;
    }
    .videosyt{
        flex-direction: column;
    }
    .videoyt iframe{
        width: 500px;
        height: 320px;
        padding: 5px;
        
     }
     .contact{
        padding: 25px 20px;
     }
}



@media screen and (max-width:576px){
    /*********inicioINDEX*********/
    .intro{
        margin-inline: 2rem;
        padding-bottom: 48px;
    }
    .padre__gpc{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .gpc{
        width: 90%;
    }

    .videosyt{
        flex-direction: column;
    }
    .videoyt iframe{
        width: 400px;
        height: 240px;
        padding: 5px;
        
     }

     .contact{
        padding: 40px 40px;
     }
     .contact a{
        font-size: 13px;

     }
}